@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

:root {
  --background: oklch(0.9817 0.0057 264.5328);
  --foreground: oklch(0.2463 0.0129 258.3721);
  --card: oklch(0.9985 0.0021 197.1238);
  --card-foreground: oklch(0.0000 0.0000 0.0000);
  --popover: oklch(0.9985 0.0021 197.1238);
  --popover-foreground: oklch(0.0000 0.0000 0.0000);
  --primary: oklch(0.5091 0.0947 222.8499);
  --primary-foreground: oklch(1.0000 0.0000 0.0000);
  --secondary: oklch(0.5449 0.1065 228.6478);
  --secondary-foreground: oklch(1.0000 0.0000 0.0000);
  --muted: oklch(0.9454 0.0187 265.9819);
  --muted-foreground: oklch(0.5240 0.0266 266.7015);
  --accent: oklch(0.7652 0.0517 180.3042);
  --accent-foreground: oklch(0.0000 0.0000 0.0000);
  --destructive: oklch(0.5649 0.1976 287.4462);
  --destructive-foreground: oklch(1.0000 0.0000 0.0000);
  --border: oklch(0.9055 0.0307 265.3249);
  --input: oklch(0.8063 0.0303 264.3907);
  --ring: oklch(0.6088 0.0946 222.9309);
  --chart-1: oklch(0.5955 0.1089 220.6129);
  --chart-2: oklch(0.6176 0.0728 181.2101);
  --chart-3: oklch(0.7516 0.0756 220.5013);
  --chart-4: oklch(0.4297 0.0631 180.0678);
  --chart-5: oklch(0.4220 0.0806 225.8983);
  --radius: 10px;
  --sidebar-width: 16rem;
  --sidebar-width-icon: 3rem;
  --sidebar: oklch(0.9817 0.0057 264.5328);
  --sidebar-foreground: oklch(0.0000 0.0000 0.0000);
  --sidebar-primary: oklch(0.5091 0.0947 222.8499);
  --sidebar-primary-foreground: oklch(1.0000 0.0000 0.0000);
  --sidebar-accent: oklch(0.9985 0.0021 197.1238);
  --sidebar-accent-foreground: oklch(0.0000 0.0000 0.0000);
  --sidebar-border: oklch(0.9055 0.0307 265.3249);
  --sidebar-ring: oklch(0.6088 0.0946 222.9309);
  --letter-spacing: 0em;
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-mono: JetBrains Mono, ui-monospace, SFMono-Regular, monospace;
  --font-serif: Georgia, Cambria, "Times New Roman", serif;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0.0000 0.0000 0.0000);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 4px 0px oklch(0.0000 0.0000 0.0000 / 0.05);
  --shadow-xs: 0px 2px 4px 0px oklch(0.0000 0.0000 0.0000 / 0.05);
  --shadow-sm: 0px 2px 4px 0px oklch(0.0000 0.0000 0.0000 / 0.10), 0px 1px 2px -1px oklch(0.0000 0.0000 0.0000 / 0.10);
  --shadow: 0px 2px 4px 0px oklch(0.0000 0.0000 0.0000 / 0.10), 0px 1px 2px -1px oklch(0.0000 0.0000 0.0000 / 0.10);
  --shadow-md: 0px 2px 4px 0px oklch(0.0000 0.0000 0.0000 / 0.10), 0px 2px 4px -1px oklch(0.0000 0.0000 0.0000 / 0.10);
  --shadow-lg: 0px 2px 4px 0px oklch(0.0000 0.0000 0.0000 / 0.10), 0px 4px 6px -1px oklch(0.0000 0.0000 0.0000 / 0.10);
  --shadow-xl: 0px 2px 4px 0px oklch(0.0000 0.0000 0.0000 / 0.10), 0px 8px 10px -1px oklch(0.0000 0.0000 0.0000 / 0.10);
  --shadow-2xl: 0px 2px 4px 0px oklch(0.0000 0.0000 0.0000 / 0.25);
}

.dark {
  --background: oklch(0.1686 0.0322 260.3378);
  --foreground: oklch(0.9461 0.0000 0.0000);
  --card: oklch(0.1402 0.0316 258.7964);
  --card-foreground: oklch(1.0000 0.0000 0.0000);
  --popover: oklch(0.1402 0.0316 258.7964);
  --popover-foreground: oklch(1.0000 0.0000 0.0000);
  --primary: oklch(0.7252 0.1302 217.8508);
  --primary-foreground: oklch(0.0000 0.0000 0.0000);
  --secondary: oklch(0.6743 0.1002 229.4848);
  --secondary-foreground: oklch(0.0000 0.0000 0.0000);
  --muted: oklch(0.2132 0.0213 263.9644);
  --muted-foreground: oklch(0.7212 0.0124 264.4898);
  --accent: oklch(0.4765 0.0920 172.3996);
  --accent-foreground: oklch(1.0000 0.0000 0.0000);
  --destructive: oklch(0.6780 0.1532 290.8433);
  --destructive-foreground: oklch(0.0000 0.0000 0.0000);
  --border: oklch(0.2799 0.0221 262.4889);
  --input: oklch(0.3808 0.0210 259.4005);
  --ring: oklch(0.6324 0.1160 221.0131);
  --chart-1: oklch(0.6319 0.1153 220.3448);
  --chart-2: oklch(0.6816 0.1287 174.8701);
  --chart-3: oklch(0.8197 0.1387 217.6732);
  --chart-4: oklch(0.4765 0.0920 172.3996);
  --chart-5: oklch(0.4483 0.0849 224.9652);
  --sidebar: oklch(0.1686 0.0322 260.3378);
  --sidebar-foreground: oklch(1.0000 0.0000 0.0000);
  --sidebar-primary: oklch(0.7252 0.1302 217.8508);
  --sidebar-primary-foreground: oklch(0.0000 0.0000 0.0000);
  --sidebar-accent: oklch(0.1298 0.0326 259.2245);
  --sidebar-accent-foreground: oklch(1.0000 0.0000 0.0000);
  --sidebar-border: oklch(0.2799 0.0221 262.4889);
  --sidebar-ring: oklch(0.6324 0.1160 221.0131);
  --radius: 10px;
  --letter-spacing: 0em;
  --font-sans: Inter, ui-sans-serif, system-ui, sans-serif;
  --font-mono: JetBrains Mono, ui-monospace, SFMono-Regular, monospace;
  --font-serif: Georgia, Cambria, "Times New Roman", serif;
  --shadow-x: 0px;
  --shadow-y: 2px;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-opacity: 0.1;
  --shadow-color: oklch(0.0000 0.0000 0.0000);
  --tracking-normal: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 2px 4px 0px oklch(0.0000 0.0000 0.0000 / 0.05);
  --shadow-xs: 0px 2px 4px 0px oklch(0.0000 0.0000 0.0000 / 0.05);
  --shadow-sm: 0px 2px 4px 0px oklch(0.0000 0.0000 0.0000 / 0.10), 0px 1px 2px -1px oklch(0.0000 0.0000 0.0000 / 0.10);
  --shadow: 0px 2px 4px 0px oklch(0.0000 0.0000 0.0000 / 0.10), 0px 1px 2px -1px oklch(0.0000 0.0000 0.0000 / 0.10);
  --shadow-md: 0px 2px 4px 0px oklch(0.0000 0.0000 0.0000 / 0.10), 0px 2px 4px -1px oklch(0.0000 0.0000 0.0000 / 0.10);
  --shadow-lg: 0px 2px 4px 0px oklch(0.0000 0.0000 0.0000 / 0.10), 0px 4px 6px -1px oklch(0.0000 0.0000 0.0000 / 0.10);
  --shadow-xl: 0px 2px 4px 0px oklch(0.0000 0.0000 0.0000 / 0.10), 0px 8px 10px -1px oklch(0.0000 0.0000 0.0000 / 0.10);
  --shadow-2xl: 0px 2px 4px 0px oklch(0.0000 0.0000 0.0000 / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --tracking-normal: var(--tracking-normal);
  --color-shadow-color: var(--shadow-color);
  --shadow-opacity: var(--shadow-opacity);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-y: var(--shadow-y);
  --shadow-x: var(--shadow-x);
  --font-serif: var(--font-serif);
  --font-mono: var(--font-mono);
  --font-sans: var(--font-sans);
  --letter-spacing: var(--letter-spacing);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
